<div class="main">
    <h2>Редактор "<%= @board.title %>" </h2>
    <div class="games">
     <div class="row" >
       <%= image_tag "/images/" + @board.image_name %>
       <div class="clear-fix"></div>
     </div>

    </div>
</div>
</div>
