


       <div class="main">

           <img src="/images/waldo.png" alt="">
           <h2>Выбери картинку</h2>
           <div class="games">
            <% @boards.each do |i| %>
            <div class="row" id = <%= i.id %> >
              <%= image_tag "/images/" + i.image_name %>
              <div class="clear-fix"></div>
            </div>
            <% end %>
            <!--
               <div class="row" id="row_1">
                   <img src="/images/palace_easy_1.jpg" alt="">
                   <div class="clear-fix"></div>
               </div>
             -->
           </div>
       </div>
    </div>
    <div class="board">
        <img src="/images/palace_hard_1.jpg" alt="">
    </div>
