


   <div class="main">
       <img src="/images/waldo.png" alt="">
       <div class="text">
           <p>«Где Уолли?» — серия детских книг, созданная британским художником Мартином Хендфордом. В них нужно найти определенного человека — Уолли — на картинке, где изображено много людей.</p>
           <p>Уолли одет в полосатую красно-белую кофту, носит очки, шапку с кисточкой и опирается на деревянную трость. Он постоянно теряет свои вещи, например, книги, которые тоже нужно найти на картинке.Поиски, несомненно, заставляют ребёнка максимально концентрироваться на том, чтобы найти именно Уолли (а художник умышленно усложняет задачу, добавляя отвлекающие детали). Но также во время поисков Уолли (а иногда еще и его друзей, собаки и потерянных ими вещей), одновременно можно вести беседу по происходящему на картинке, о том, кто что делает, почему и зачем.</p>
           <p>В начале марта (2008) художница Мелани Коулз (Melanie Coles) нарисовала Уолли на крыше неизвестного дома в Ванкувере и предложила пользователям Интернета разыскать его через Google Maps.</p>
       </div>
   </div>
</div>
