
<div class="content">
       <div class="nav">
            <div class="logo"><img src="/images/logo.png" alt=""></div>
           <ul>
               <li><a href="">главная</a></li>
               <li><a href="">старт</a></li>
               <li><a href="">таблица рекордов</a></li>
           </ul>
       </div>
       <div class="main">

           <img src="/images/waldo.png" alt="">
           <h2>Выбери картинку</h2>
           <div class="records">

               <div class="row" id="row_1">
                   <img src="/images/palace_easy_1.jpg" alt="">
                   <div class="clear-fix"></div>
               </div>

               <div class="row" id="row_2">
                   <img src="/images/palace_2.jpg" alt="">
                   <div class="clear-fix"></div>
               </div>

               <div class="row" id="row_3">
                   <img src="/images/palace_hard_1.jpg" alt="">
                   <div class="clear-fix"></div>
               </div>
               <div class="row" id="row_4">
                   <img src="/images/palace_wery_hard_1.jpg" alt="">
                   <div class="clear-fix"></div>
               </div>
           </div>
       </div>
    </div>
    <div class="board">
        <img src="/images/palace_hard_1.jpg" alt="">
    </div>
    <div class="table">
        <div class="head">
            <ul>
                <li>Место</li>
                <li>Имя</li>
                <li>Время</li>
            </ul>
        </div>
        <div class="row">
            <ul>
                <li>1</li>
                <li>Paul</li>
                <li>1:20</li>
            </ul>
        </div>
        <div class="row you">
            <ul>
                <li>2</li>
                <li>Sert</li>
                <li>2:34</li>
            </ul>
        </div>
        <div class="row">
            <ul>
                <li>3</li>
                <li>Qwrrf</li>
                <li>3:23</li>
            </ul>
        </div>
        <div class="row">
            <ul>
                <li>4</li>
                <li>RTYefd</li>
                <li>4:34</li>
            </ul>
        </div>
        <div class="row">
            <ul>
                <li>5</li>
                <li>FhjdW</li>
                <li>5:32</li>
            </ul>
        </div>
        <div class="row">
            <ul>
                <li>6</li>
                <li>Micle</li>
                <li>8:34</li>
            </ul>
        </div>
        <div class="row">
            <ul>
                <li>7</li>
                <li>Antob</li>
                <li>9:39</li>
            </ul>
        </div>
        <div class="row">
            <ul>
                <li>8</li>
                <li>Stamp</li>
                <li>11:45</li>
            </ul>
        </div>
        <div class="row">
            <ul>
                <li>9</li>
                <li>Feer</li>
                <li>13:23</li>
            </ul>
        </div>
        <div class="row">
            <ul>
                <li>10</li>
                <li>Tww</li>
                <li>16:34</li>
            </ul>
        </div>
    </div>
