
<!DOCTYPE html>
<html>
<head>
  <title>WhereIsWaldo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Bad+Script|Poiret+One" rel="stylesheet">
  <link href="http://allfont.ru/allfont.css?fonts=a_stamperup-bold" rel="stylesheet" type="text/css" />
</head>
<body>

<%= yield %>

</body>
</html>
